<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="秦始皇、皇帝陵、博物院" />
    <meta name="description" content="秦始皇帝陵博物院" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>秦始皇帝陵博物院</title>
    <!--模板css-->
    <link href="../Themes/css/reset.css" rel="stylesheet" />
    <link href="../Themes/css/base.css" rel="stylesheet" />
    <!--页面css-->
    <link href="../Themes/css/index.css" rel="stylesheet" />
</head>
<body>
    <div class="wrap">
        <div class="header"></div>
        <div class="main"></div>
        <div class="footer"></div>
    </div>
    <!--模板js-->
    <script src="../Themes/js/jquery1.7.1.min.js"></script>
    <script src="../Themes/js/base.js"></script>
    <!--页面js-->
    <script src="../Themes/js/index.js"></script>
</body>
</html>