@charset "utf-8";
/******************************/
.tx-tb{
	
}
.tx-tb  .tx-menu  ul li{
	float: left;
}
.tx-menu   li a{
	display: block;
	padding: 5px 10px;
	text-align: center;
	font: 400 16px/16px "microsoft yahei";
	border: 1px solid #000000;
}


.tx-menu-active{
	background-color: #890101;
	color: #FFFFFF;
}

.tx-div div{
	display: none;
}

.tx-tab{
	width: 480px;
	height: 200px;
	border: 1px solid blue;
}

.tx-div .tx-tab-active{
	display: block;
}

