@charset "UTF-8";
/*公共样式*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family:Arial,Verdana,"Microsoft YaHei","\5b8b\4f53";margin-bottom:0;margin-top:0; }
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } 
img {border:0;	vertical-align:middle; }
table,table tr th, table tr td { border:1px solid #DCDCDC; }
table { border-collapse:collapse; }
a {color:#434343; text-decoration:none; }
a:hover{color:#016DC5; text-decoration:none;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}

html, body{height:100%;}
.wrapper{position:relative;min-height:100%;}
.main{padding-bottom:90px;}

body {
    /*font:13px/150% Arial,Verdana,"\5b8b\4f53","Microsoft YaHei";*/
    font:12px/150% Arial,Verdana,"Microsoft YaHei","\5b8b\4f53";
    color:#434343;
    background:#FFFFFF;
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}

.w {
    width: 1200px;
    margin: 0 auto;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}
.ind{
    text-indent: -9999em;
}

/*复写Bootstrap*/
.container{
    padding-right:0;
    padding-left:0;
}
.row{margin:0}

[class*="col-"] {
    padding: 0 !important;
    margin: 0 !important;
}
.btn{
    border-radius:0;
}
a:focus{
    text-decoration: none;
}
input[type=checkbox], input[type=radio] {
     margin:0; 
}
