<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模版页面</title>
    <link rel="stylesheet" href="../Themes/Plugs/Bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../Themes/Plugs/FontAwesome/css/font-awesome.css">
    <link rel="stylesheet" href="../Themes/Plugs/Swiper/css/swiper.css">
    <link rel="stylesheet" href="../Themes/CSS/Base.css">
</head>

<body>
    
    <div class="wrapper">
        <!-- header -->
        <div class="header">

        </div>

        <!-- main -->
        <div class="main">

        </div>

        <!-- footer -->
        <div class="footer">

        </div>
    </div>

    <!-- JS -->
    <script src="../Themes/JS/JQuery/jquery.min1.9.1.js"></script>
    <script src="../Themes/Plugs/Bootstrap/js/bootstrap.js"></script>
    <script src="../Themes/Plugs/Swiper/js/swiper.js"></script>
    <script>
        
    </script>

</body>

</html>